{% extends "base.html" %}

{% block title %}My Assignments{% endblock %}

{% block content %}
<div class="my-course">
    <h2>All Assignments</h2>
        <ul>
        {% for course in courses %}
        <li class="list-group-item d-flex justify-content-between align-content-center">
            <div class="d-flex flex-row"> <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                <div class="ml-2">
                    <h6 class="mb-0">{{course.title}}</h6>
                    <div class="about"> <span><a href="{{course.assignment.url}}">Download</a></span> </div>
                </div>
            </div>
           
        </li>
        {% endfor %}
    </ul>
</div>

<!---<h1>My Assignments</h1>
{% for course in courses %}
    <div class="card">
        <div class="'card-header">{{course.title}}</div>
        <div class="card-body">
            <p>{{course.assignment}}</p>
            <a href="{{course.assignment.url}}">Download</a>
        </div>
    </div> 
{% endfor %}-->

{% endblock %}