{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
  <h1>My courses</h1>

  <div class="my-course">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p><a href="{% url 'students:course_detail' pk=course.pk %}">
        Credit Details</a></p>
      </div>
    {% empty %}
      <p>
        "You are not enrolled in any courses yet.
        <a href="{% url "students:credit_application" %}">Apply For Credits</a>
        to enroll in a course.
      </p>
    {% endfor %}
  </div>
{% endblock %}
